@import "tailwindcss";


body {
  font-family: 'Inter', sans-serif;
}

/* Aplica a todo el documento */
::-webkit-scrollbar {
  width: 5px;         /* ancho de la barra */
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: transparent;      /* color del fondo */
}

/* Parte que se mueve */
::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;    /* color de la barra */
  border-radius: 10px;       /* bordes redondeados */
  height: 50px;    
}

/* Cuando el usuario pasa el mouse encima */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.btn-reservar {
  background-color: #2704b3;
  color: white;
  transition: background-color 0.2s;
}

.btn-reservar:hover {
  background-color: #17006f;
}

